.react-tabs__tab {
    padding: 10px 50px !important;
}

.react-tabs__tab-list {
    //text-align: center !important;
    padding-top: 50px !important;
    font-size: 20px !important;
    margin-bottom: 0!important;
    text-align: center!important;
}